.small-chart {
    
    width: 400px;
    height: 300px;
  }
  .containerr {
    display: flex;
    /* justify-content: space-between; to create space between the two divs */
    margin-left: 0px;
    margin-top: 20px;
}

/* For small devices, set the margin-left of the second column to 0 */
@media (max-width: 768px) {
  .col-md-6:nth-child(2) {
    margin-left: 0;
  }
}

/* For extra small devices, adjust the width of the elements */
@media (max-width: 576px) {
  .col-md-6 {
    width: 100%;
  }
}
