.dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .centered-dialog .mat-dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }