
<nav class="navbar navbar-expand-lg navbar-light custom-bg border-bottom fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" #navbarTogglerBtn (click)="toggleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand gradient" href="/home">MyTicket
      <i class="bi bi-ticket-detailed bg-customized"></i>
    </a>
    
   
    
  </div>
    <!-- Navbar content (including links) -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav custom-font">
     
        <li class="nav-item">
          <a class="nav-link" href="/events" style="color:black;">Evenimente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/locations" style="color:black;">Locatii</a>
        </li>
        <li class="nav-item">
          <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <input class="search_input" type="text" name="search" placeholder="Search..." [(ngModel)]="searchQuery">
                    <a href="/search-results"  class="search_icon" (click)="onSearch()"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        </li>
        
        </ul>
        <ul class="nav navbar-nav ms-auto custom-font">
          <li class="nav-item">
            <a class="nav-link" href="/login" *ngIf="!isLoggedIn()">
              <div class="d-flex align-items-center">
                <span style="color:black;">Conecteaza-te</span>
                <mat-icon matSuffix>person</mat-icon>
              </div>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link with-divider" href="/login" *ngIf="isLoggedIn()">
              <div class="d-flex align-items-center">
                <a href="/myaccount" style="color:black; text-decoration: none;">Contul meu</a>
                <mat-icon matSuffix>person</mat-icon>
              </div>
            </a>
          </li>
        
        <li>
          <a class="nav-link" href="#" (click)="logout($event)" *ngIf="isLoggedIn()" style="color:black;">Log out</a>
        </li>
      </ul>
      
    </div>
