<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
          href="/addLocation"
          class="list-group-item list-group-item-action py-2 ripple"
          [class.active]="isActive('/addLocation')"
          aria-current="true"
        >
        <i class="bi bi-geo-alt-fill"></i><span>Locatii</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple ">
            <i class="bi bi-calendar-event-fill"></i><span>Evenimente</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="bi bi-bar-chart-line-fill"></i><span>Statistici</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="bi bi-clock-fill"></i><span>Vanzari in timp real</span></a
        >
       
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="bi bi-people-fill"></i><span>Users</span></a
        >
        
      </div>
    </div>
  </nav>
