
    <div class="page-container">
    <swiper-container
    loop="true"
    
    slides-per-view="3"
    speed="500"
    pagination="true"
    autoplay="true"
    style="display:flex;justify-content:  center;">
        <swiper-slide  *ngFor="let event of events">
            <img [src]="event.imageUrl" alt="Event Image" style="height: 700px;width: 500px;"></swiper-slide>
          
             
            
       
    </swiper-container>


    
   

      <div class="recomendations" style="margin-bottom: 0px;">
        <h2 style="margin-left: 20px;margin-bottom: 5px;">MyTicket recomandă</h2>
        <div id="carouselExampleControls" class="carousel">
            <div class="carousel-inner" [style.transform]="getTransform()">
              <div class="carousel-item " *ngFor="let event of events;let i = index"  [ngClass]="{'active': i === currentSlide}">
                <mat-card  class="example-card" [routerLink]="['/events',event.id]">
                    <div class="card-image-container">
                      
                      <div class="rounded-image">
                        <img [src]="event.imageUrl || 'https://via.placeholder.com/300x400'" alt="Event Image" style="width:290px;height: 205px;">
                      </div>
                    </div>
                    <mat-card-content>
                      <h3>{{event.eventName}}</h3>
                      <p *ngIf="event.location?.locationName">
                        <i class="bi bi-geo-alt-fill" style="color:black"></i> {{event.location.locationName}}
                      </p>
                    </mat-card-content>
                    <!-- Optional: Add actions like buttons (e.g., for editing or viewing details) -->
                  </mat-card>
              </div>
            

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" (click)="prev()">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden" >Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" (click)="next()">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden" >Next</span>
            </button>
          </div>
          
          
     
          
      </div>
    </div>
  
  