<div class="container" style="left: 0px; margin-top: 40px;min-height: 100vh;">
    
    <div class="row">

        <div class="col-sm-3 col-md-6 col-lg-3">
        <div class="sidebar">
            <div class="sidebar-toggle ">
                <i class="bi bi-person-circle "
                    style="font-size: 40px; display: flex; align-items: center; justify-content: center; margin-top: 15px; margin-bottom: 15px;"></i>

            </div>
            <div class="divider"></div>
            <ul class="sidebar-menu">
                <li (click)="getUsersTickets(userDto.email)"><i class="bi bi-ticket-detailed-fill "
                        style="margin-right: 10px; font-weight: bold;"></i><a href=javascript:void(0)
                        (click)="getUsersTickets(userDto.email)">Bilete</a></li>
                <div class="divider"></div>
                <li (click)="showFavorites()"><i class="bi bi-heart-fill"
                        style="margin-right: 10px;font-weight: bold;"></i><a href=javascript:void(0)
                        (click)="showFavorites()">Favorite</a></li>
                <div class="divider"></div>
                
                <li (click)="showProfile()"><i class="bi bi-person-fill"
                        style="margin-right: 10px;font-weight: bold;"></i><a href=javascript:void(0)
                        (click)="showProfile()">Profil</a></li>
                <div class="divider"></div>
                <li><i class="bi bi-door-closed-fill " style="margin-right: 10px;font-weight: bold;"></i><a
                        href=javascript:void(0) (click)="logout($event)">Iesi din cont</a></li>
            </ul>
        </div>
    </div>

    <div class="col-sm-9 col-md-6 col-lg-9">
        <div>
            <div *ngIf="selectedItem ==='Bilete'">
                <h2>Bilete cumpărate</h2>
                
        <div class="card-container">
                    <mat-card class="example-card" *ngFor="let ticket of tickets">
                        
                        <img mat-card-image src={{ticket.event.imageUrl}} style="width: 315px; height: 200px; object-fit: cover;">
                        <mat-card-content>
                            <mat-card-subtitle style="margin-bottom: 5px;">{{ticket.event.eventName}}</mat-card-subtitle>
                            <div class="container" style="display:inline-block;margin-bottom: none;">
                                <i class="bi bi-calendar2-week"></i><p style="display: inline-block;margin-bottom: 5px;margin-left: 5px;">{{ticket.event.eventDate| date:'dd-MM-yyyy'}}</p>
                        </div>
                        <div class="container" style="display:inline-block;margin-bottom: none;">
                            <i class="bi bi-clock"></i><p style="display: inline-block;margin-bottom: 5px;margin-left: 5px;">{{ticket.event.startTime}}-{{ticket.event.endTime}}</p>
                    </div>
                        <div class="container" style="display:inline-block;">
                            <i class="bi bi-geo-alt"></i><p style="display: inline-block;margin-bottom: 5px;margin-left: 5px;">{{ticket.event.location.locationName}}</p>
                    </div>
                    <div class="container" style="display:inline-block;">
                        <i class="bi bi-wallet2"></i><p style="display: inline-block;margin-left: 5px;margin-bottom: 5px">{{ticket.ticketPrice}} RON</p>
                </div>
                <div class="container" style="display:inline-block;">
                    <i class="bi bi-geo"></i><p style="display: inline-block;margin-left: 5px;margin-bottom: 5px">Loc {{ticket.seat.seatNumber}} </p>
            </div>
                        </mat-card-content >
                        <div class="container" style="display: flex;align-items: center;justify-content: center;">
                        <button class="showTicketBtn" (click)="openTicketPdf(ticket.ticketId)"><i class="bi bi-ticket-detailed" style="margin-right: 6px;"></i>Vezi bilet</button>
                    </div>
                      </mat-card>
                      
            </div>
        </div>
            <div *ngIf="selectedItem === 'Favorite'">
                <h2>Favorite</h2>
                <div class="card-container">
                    <mat-card *ngFor="let event of favoriteEvents;" class="event-card" [routerLink]="['/events',event.id]" style="width:288px; height:250px;width: 30%; /* Adjust the width as needed */
                    margin-bottom: 20px;">
                      
                      <div class="heart-icon" (click)="toggleFavorite(event,$event)">
          <i class="bi" [ngClass]="{'bi-heart': !isFavorite(event), 'bi-heart-fill ': isFavorite(event)}"></i>
          
      </div>
                      <div class="card-image-container">
                        <div class="rounded-image">
                          <img [src]="event.imageUrl || 'https://via.placeholder.com/300x400'" alt="Location Image" style="width:247px;height:205px;object-fit: cover;">
                        </div>
                      </div>
                      <mat-card-content>
                       
                        <p><i class="bi bi-geo-alt-fill" style="color:black"></i> {{event.location.locationName}}</p>
                      </mat-card-content>
                      <!-- Optional: Add actions like buttons (e.g., for editing or viewing details) -->
                    
                    </mat-card>
                  </div>
                    <!-- Optional: Add actions like buttons (e.g., for editing or viewing details) -->
                  </div>
                  
                   
                 
            </div>

            <div *ngIf="selectedItem === 'Istoric tranzactii'">
                <h2>Istoric tranzactii</h2>
                <div class="transaction-container">
                    <div *ngFor="let transaction of transactions" class="transaction-card">
                      <p><strong>ID Tranzacție:</strong> {{transaction.id}}</p>
                      <p><strong>Data:</strong> {{transaction.created * 1000 | date:'dd-MM-yyyy HH:mm'}}</p>
                      <p><strong>Sumă:</strong> {{transaction.amount / 100 | currency:'RON':'symbol':'1.2-2'}}</p>
                      <p><strong>Descriere:</strong> {{transaction.description}}</p>
                      <p><strong>Stare:</strong> {{transaction.status}}</p>
                    </div>
                  </div>
            </div>

            <div *ngIf="selectedItem === 'Profil'">
                <h2>Profil</h2>
                <div class="form-container">
                    <form [formGroup]="updateUserForm" (ngSubmit)="updateUserInfo()">
                        <div class="form-row">
                            <div class="form-group ">
                                <label for="firstName" class="label">Nume</label>
                                <input type="text" class="form-control short-input col-sm-6" id="lastName"
                                    formControlName="lastname" [(ngModel)]="userDto.lastname" style="margin-right: 10px;">

                            </div>
                            <div class="form-group ">
                                <label for="lastName" class="label">Prenume</label>
                                <input type="text" class="form-control short-input col-sm-6" id="firstName"
                                    formControlName="firstname" [(ngModel)]="userDto.firstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="label">Email</label>
                            <input type="email" class="form-control short-input" id="email" formControlName="email" [(ngModel)]="userDto.email">
                        </div>


                        <button type="submit" class="button " [disabled]="updateUserForm.invalid">Salvează</button>


                    </form>
                </div>
            </div>


        </div>
    </div>
    </div>
    
