
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.sidebar {

    top: 100px; 
    margin-top:55px;
    bottom:200px;
    left: 15px;
    margin-left:0px;
    width: 100%;
    height: auto; 
    border: 1px solid lightgray;
    background-color: #e8e8e8; 
    padding: 0px; 
    border-radius: 5px;
    transition: width 0.3s;
    
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
  }

  h2{
    font-family: "Roboto",sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;;
    margin-left:330px;
   
  }

  .form-container .button{
    background-color:#FFBF00;
    color:white;
    margin-top:30px;
    width:100%;
    padding: 10px 0;
    border-radius:10px ;
    border: none;
    font-size: 15px;
    font-weight: 450;
    align-items: center;

  }

  .custom-button:hover {
    background-color: #FFA500; /* Darker shade on hover */
}
mat-card{
  width:315px;
  height:400px;
  margin:10px;
}



mat-card-subtitle{
  font-size: 18px;
  color:black;
  margin-left: 0px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content; */
  margin-left: 100px;
}

.showTicketBtn{
  width:100px;
  height:30px;
  border: none;
  background-color: #FFBF00;
  border-radius: 7px;
  font-size: 15px;
}

.events-cards-container{
  margin-top: 200px;
  /* align-items: center; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  margin-left: 0px;
}
.example-card{
  /* flex-basis: calc(50%-10px); */
  margin-bottom: 20px;
  margin-right: 20px;
  
}
.event-card{
  border-radius: 13px!important;
  width: 290px;
  height: 254px;
  margin: 10px;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125); /* Add a border for card */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-top: 200px;
  cursor:pointer;
  position: relative;

}

.rounded-image {
  border-radius: 13px 13px 0 0; /* Rounded top corners for image container */
  overflow: hidden;
}

  .label {
    color: #808080; 
    font-size: 15px; 
    font-family: 'Roboto Regular',Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  }
  .short-input {
    width: 350px; /* Adjust width of input fields */
    margin-bottom: 15px; /* Add space between input fields */
    padding:5px;
    height: 47.7px;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
  }

  .form-group .col-md-6 {
    flex: 0 0 50%; 
  }

  .form-group {
    margin-bottom: 15px; /* Add space between form groups */
  }
  .form-container .button{
    margin-top: 15px;
    background-color: #FFBF00; /* Amber button color */
    color: white; /* Text color for button */
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding inside the button */
    cursor: pointer;
    border-radius: 5px;
    width:200px;
    
  }

  
.sidebar li{
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    
    display: block;
    
}

.sidebar ul{
    text-align: left;
    margin:0;
    padding:0;
    width:100%;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #ccc; 
   
    top:5px;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: black;
    font-family:"Roboto",sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

.form-control {
  padding-left: 10px; /* Add 5px of padding to the left of the input */
  font-size: 16px; /* Adjust font size of input text */
  border-radius: 4px; /* Optional: Add border radius for input */
  border: 1px solid #ced4da; /* Optional: Add border style */
}

/* Style for form inputs when focused */
.form-control:focus {
  border-color: #FFBF00; /* Optional: Change border color on focus */
  box-shadow: 0 0 0 0.2rem rgba(255, 213, 0, 0.25); /* Optional: Add focus effect */
}

.events-container{
  margin-top: 200px;
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.heart-icon {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  z-index: 1; /* Ensure the heart icon appears above other content */
  background-color: rgba(255, 255, 255, 0.7); /* Optional: Add background color for better visibility */
  padding: 5px; /* Optional: Add padding for better appearance */
  border-radius: 50px;
  font-weight:900;
  font-size: 20px;
}
.heart-icon i.filled {
color:#FFBF00; 
background-color: yellow;
}
