<div class="sidebar">
    <i class="bi bi-person-circle " style="font-size: 40px; display: flex; align-items: center; justify-content: center; margin-top: 15px; margin-bottom: 15px;"></i>
    <div class="divider"></div>
    <ul>
        <li><i class="bi bi-ticket-detailed-fill " style="margin-right: 10px; font-weight: bold;"></i><a href="#">Bilete</a></li>
        <div class="divider" ></div>
        <li><i class="bi bi-heart-fill"style="margin-right: 10px;font-weight: bold;"></i><a href="#">Favorite</a></li>
        <div class="divider"></div>
        <li><i class="bi bi-clock-fill "style="margin-right: 10px;font-weight: bold;"></i><a href="#">Istoric tranzactii</a></li>
        <div class="divider"></div>
        <li><i class="bi bi-person-fill"style="margin-right: 10px;font-weight: bold;"></i><a href="#">Profil</a></li>
        <div class="divider"></div>
        <li><i class="bi bi-door-closed-fill "style="margin-right: 10px;font-weight: bold;"></i><a href="#">Iesi din cont</a></li>
    </ul>
  </div>